body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background: #feafc3;
  color: #2D3440;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
  overflow: hidden;
}



/* header */
.header__container {
  width: 1170px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding: 0;
  margin-left: 16px;
  align-items: center;
}

.main-navigation__link:hover {
  border-radius: 26px;
  background-color: #FFCBD8;
}

.main-navigation__link:focus {
  outline: 2px solid #2D3440;
  border-radius: 26px;
}

.main-navigation__link:active {
  background-color: #FCFCFC;
  outline: none;
}

.main-navigation__item-catalog {
  background: #FF4A78;
  border-radius: 26px;
  padding: 8px 16px;
  color: #FCFCFC;
}

.main-navigation__link {
  display: flex;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  line-height: 20px;
  padding: 8px 16px;
}

.main-navigation__link-catalog {
  color: #FCFCFC;
  padding: 0;
}

.header-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.header-button a {
  color: #2D3440;
}

.header-button__item {
  display: inline-block;
  margin-left: 16px;
}

.header-button__item-phone {
  display: flex;
  font-weight: 700;
  color: #2D3440;
  line-height: 20px;
  text-decoration: none;
  background: #FEAFC3;
  margin-left: 10px;
  margin-right: 2px;
}

.header-button__item-phone a {
  padding: 8px 16px;
  background-color: #FEAFC3;
}

.header-button__link {
  background-color: #FFCBD8;
  border-radius: 50px;
}

.header-button__link-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  text-align: center;
}

.header-button__item-login svg {
 margin-right: 6px;
}

.header-button__link:hover {
 background-color: #ffe5eb;
 border-radius: 26px;
}

.header-button__link:focus {
  outline: 2px solid #2D3440;
  border-radius: 26px;
}

.header-button__link:active {
 background-color: #FCFCFC;
 outline: none;
}

.header-button__link-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 18px 6px 17px;
}

.header-button__item-cart svg {
  margin-right: 8px;
}

.header-button__link-cart {
  display: flex;
  align-items: center;
  justify-content: center;
 padding: 6px 16px 6px 17px;
}

.header-button__link {
  color: #2D3440;
  line-height: 20px;
  text-decoration: none;
  font-size: 14px;
}

/*promo */
.page-container {
  width: 1170px;
  margin: 0 auto;
}

.promo-swiper{
  margin-bottom: 80px;
}

.promo-slider__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.promo-slider__description {
  font-size: 18px;
  line-height: 24px;
}

.promo-slider__button-buy {
  padding: 12px 32px;
  background: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border: 0;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
}

.promo-slider__button-buy:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.promo-slider__button-buy:focus {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.general-text__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.promo-slider__button {
  display: flex;
  background: rgba(252, 252, 252, 0.3) no-repeat;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  padding: 0;
  border: none;
}

.promo-slider__button-icon {
  border: 2px solid #FCFCFC;
  border-radius: 100px;
  padding: 9px;
  color: #FCFCFC;
}

.promo-slider__button-icon:hover {
  background-color: #FCFCFC;
  border-radius: 100px;
  color: #2D3440;
  padding: 11px;
  border: none;
}

.promo-slider__button-icon:focus {
  color: #2D3440;
  border: 2px solid #2D3440;
}

.promo-swiper__pagination-radio {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0;
  background-color: #FFCBD8;
  cursor: pointer;
}

.promo-swiper__pagination-radio:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 100px;
}

.promo-swiper__pagination-radio:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
  box-sizing: border-box;
  border-radius: 100px;
}

.promo-swiper__pagination-left-cerrent {
  background-color: #FCFCFC;
}

.promo-socials__icon {
  outline: 2px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 100px;
}

.promo-socials__icon:hover {
  background-color: #2D3440;
  border-radius: 100px;
}

.promo-socials__icon:focus {
  background-color: #2D3440;
  outline: 2px solid #2D3440;
  border-radius: 100px;
}

/*promotion */
.promotion {
  width: 1170px;
  margin-bottom: 80px;
}

.promotion__title {
  text-align: center;
  width: 480px;
  margin: 0px auto 56px auto;
}

.promotion__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.promotion__item {
  display: flex;
  background-color: #ff7799;
  border-radius: 16px;
  width: 570px;
  height: 268px;
}

.promotion__item {
  padding: 28px 15px 0px 40px;
  box-sizing: border-box;
}

.promotion__item-marshmallow {
  padding: 19px 7px 0px 40px;
}

.promotion__gift-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.promotion__text-gift {
  width: 321px;
  margin: 0;
}

.gift-title-marshmallow {
  margin-top: 21px;
}

.text-marshmallow {
  width: 294px;
}

.promotion__button-gift {
  display: inline-block;
  padding: 12px 32px;
  background: #fcfcfc;
  border: 0;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  margin-top: 32px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  text-align: center;
}

.promotion__button-gift:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.promotion__button-gift:focus {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

/* popular flavors */
.popular-flavors {
  width: 1170px;
  margin-bottom: 80px;
}

.popular-flavors__page-title {
  width: 527px;
  text-align: center;
  margin: 0px auto 107px auto;
  color: #2D3440;
}

.popular-flavors__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.popular-flavors__item {
  position: relative;
  background: #fcfcfc;
  border-radius: 8px;
  width: 270px;
  padding: 133px 40px 24px 40px;
  box-sizing: border-box;
}

.popular-flavors__img {
  border-radius: 90px;
  position: absolute;
  top: -51px;
  left: 51px;
}

.popular-flavors__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-align: center;
  margin: 0px auto 8px auto;
}

.popular-flavors__text {
  text-align: center;
  color: #565C66;
  margin: 0;
}

.popular-flavors__price {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.popular-flavors__wrapper-price {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  margin-top: 16px;
}

.popular-flavors__button {
 display: flex;
 background: #FF2F64;
 border-radius: 50px;
 border: 2px solid #FF2F64;
}

.popular-flavors__button:hover {
 background: #FCFCFC;
}

.popular-flavors__icon-cart {
  display: flex;
  padding: 6px;
}

.popular-flavors__icon-cart:hover {
  color: #2D3440;
}

/* features */
.features {
  background: url("../images/waffle-background.png") no-repeat;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 80px;
}

.features__container {
  background: #FCFCFC;
  border-radius: 16px;
  padding: 56px 40px;
}

.features__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 56px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.features__item {
  display: flex;
  width: 506px;
  margin-right: 30px;
  margin-bottom: 40px;
}

.features__item-bottom {
  margin-bottom: 0;
}

.features__item:nth-child(2n) {
  margin-right: 0;
}

.features__img {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.features__text {
  color: #565C66;
  margin: 0;
}

/* preview */
.preview {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 76px;
}

.preview__new-blog {
  background: url("../images/news-background.png") no-repeat;
  border-radius: 16px;
  padding: 32px 235px 63px 32px;
}

.preview__new-blog-wrapper {
  width: 303px;
}

.preview__new-blog-text {
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.preview__new-blog-text-desc {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.subscribe {
  width: 558px;
  background: url("../images/mail-background.png") no-repeat;
  padding: 6px;
}

.subscribe__wrapper {
  width: 506px;
  background: #FCFCFC;
  border-radius: 16px;
  padding: 26px 24px 26px 26px;
}

.subscribe__text {
  color: #565C66;
  margin-bottom: 42px;
  margin-top: 0;

}

.subscribe__form {
  height: 48px;
}

.subscribe__form-email {
  line-height: 20px;
  color: #B9B9B9;
  width: 332px;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 160px 14px 16px;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.subscribe__form-button {
  display: inline-block;
  box-sizing: border-box;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
  line-height: 20px;
  font-weight: 700;
  margin-left: 19px;
  padding: 12px 32px;
  cursor: pointer; 
}

.subscribe__form-button:disabled {
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  border-radius: 26px;
  color: #565C66;
}


.button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  border-radius: 26px;
  color: #2D3440;
}

.button:focus {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
}

.field:hover {
  border: 1px solid #2D3440;
}

.field:focus {
  border: 2px solid #2D3440;
}

.field:disabled {
  background: #E7E7E7;
  border: 1px solid #B9B9B9;
}

.field:invalid {
  border: 1px solid #EA5454;
}

/* delivery */
.delivery {
  display: flex;
  justify-content: space-between;
  background: url("../images/delivery-background.png") no-repeat;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 64px;
}

.delivery__text {
  padding: 103px 135px 99px 36px;
}

.delivery-text__title {
  margin-top: 0;
  margin-bottom: 24px;
}

.delivery-text__paragraph{
 margin: 0;
}

.delivery__form {
  padding: 40px 40px 42px 40px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form__title {
  color: #565C66;
  width: 360px;
  margin: 0px 0px 32px 0px;
}

.delivery__wrapper-form {
  display: flex;
  flex-wrap: wrap;
}

.delivery-form__date {
  max-width: 117px;
  max-height: 48px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  margin-right: 16px;
  margin-bottom: 20px;
  padding: 16px 14px;
}

.delivery-form__text {
  margin-bottom: 8px;
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.delivery-form__number {
  max-width: 287px;
  max-height: 48px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 14px 128px 14px 16px;
}

.delivery-form__address {
  width: 420px;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 160px 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.delivery-form__button {
  display: flex;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border: none;
  background: #FF2F64;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
  line-height: 20px;
  margin: 32px auto 0px auto;
  padding: 12px 32px;
  cursor: pointer; 
}

.delivery-form__button:disabled {
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  border-radius: 26px;
  color: #565C66;
}

.form-text__delivery {
  line-height: 20px;
  color: #B9B9B9;
}

.delivery-form__icon {
  width: 11px;
  height: 11px;
}

/* contacts */
.contacts {
  width: 1042px;
  background: url("../images/address-background.png") no-repeat;
  border-radius: 16px;
  padding: 64px;
}

.contacts__block {
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
  width: 263px;
}

.contacts-block__address-title {
  color: #565C66;
  margin: 0px 0px 12px 0px;
  width: 179px;
}

.contacts-block__address {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  font-style: normal;;
}

.contacts-block__order-number {
  color: #565C66;
  margin: 24px 0px 12px 0px;
}

.contacts-block__number {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.contacts-block__order-time {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin: 0px 0px 31px 0px;
}

.contacts-block__button {
  display: inline-block;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border: none;
  background: #FF2F64;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
  font-weight: 700;
  line-height: 20px;
  padding: 13px 32px;
}

/* footer */
.footer {
  display: flex;
  width: 1152px;
  margin: 0 auto;
  padding: 48px 14px 48px 4px;
}

.footer-socials {
  margin-right: 299px;
}

.footer-socials__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-socials__item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.footer-socials__item svg {
  outline: 2px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgb(45 52 64 / 10%);
  border: 0;
  border-radius: 50px;
}

.footer-socials__item:last-child {
  margin-right: 0;
}

.footer-socials__link {
  display: flex;
  width: 24px;
  height: 24px;
}

.footer-socials__icon {
  outline: 2px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 100px;
}

.footer-socials__icon:hover {
  background-color: #2D3440;
  border-radius: 100px;
}

.footer-socials__icon:focus {
  background-color: #2D3440;
  outline: 2px solid #2D3440;
  border-radius: 100px;
}

.footer-navigation {
  margin-right: 214px;
}

.footer-navigation__item:first-child {
  margin-right: 24px;
}

.footer-navigation__item:nth-child(3) {
  margin-left: 16px;
  margin-right: 44px;
}

.footer-navigation__item-mb {
  margin-bottom: 8px;
}

.footer-navigation__img-love {
  width: 12px;
  height: 14px;
}

.footer-navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 356px;
  margin: 0;
  padding: 0;
}

.footer-navigation__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.footer-navigation__love-text {
  font-weight: 700;
}

.footer-copyright {
 width: 193px;
 height: 57px;
}

.footer-copyright__text {
  font-size: 12px;
  line-height: 16px;
  margin-top: 9px;
  margin-bottom: 0;
}

.footer-copyright__text a {
  text-decoration: none;
  border-bottom: 1px solid #565C66;
  color: #2D3440;
}

/* catalog -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* heder inner */
.heder-inner {
  margin-top: 32px;
  margin-bottom: 40px;
}

.breadcrumbs__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs__nolink {
  border-bottom: none;
}

.heder-inner__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-top: 16px;
  margin-bottom: 0;
}

/* catalog-filter */
.catalog-filter__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 807px;
  height: 144px;
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 99px;
}

.price-input__conteiner {
  width: 196px;
  height: 36px;
  border-radius: 20px;
  background: #FFCBD8;
}

.price-input {
  width: 164px;
}

.catalog-filter__text {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter__sorting-select {
  width: 196px;
  height: 36px;
  border-radius: 20px;
  background: #FFCBD8;
  border: 0px;
}

.catalog-filter__fat-content {
  border-radius: 20px;
  background: #FFCBD8;
  width: 367px;
  height: 36px;
}

.catalog-filter__fillers-content {
  width: 596px;
  height: 36px;
  border-radius: 20px;
  background: #FFCBD8;
}

.catalog-filter__fillers-button {
  padding: 8px 32px;
  width: 187px;
  height: 36px;
  background: #FFCBD8;
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  color: #2D3440;
  font-weight: 700;
}

/* product-list */
.product__list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 91px 30px;
  width: 1170px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style: none;
}

.product-card {
  width: 270px;
  background: #FCFCFC;
  border-radius: 8px;
  padding: 133px 40px 28px 40px;
  box-sizing: border-box;
  position: relative;
}

.product-card__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
  text-align: center;
}

.product-card__link-img {
  width: 168px;
  height: 168px;
  position: absolute;
  top: -51px;
  left: 52px;
}

.product-card__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card__img {
  border-radius: 90px;
}


.product-card__text {
  color: #565C66;
  text-align: center;
  margin: 0;
}

.product__wrapper-price {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.product-card__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: auto auto 4px 0px;
}

.product-card__button {
  display: flex;
  background: #FF2F64;
  border-radius: 50px;
  border: 2px solid #FF2F64;
 }
 
 .product-card__button:hover {
  background: #FCFCFC;
 }
 
 .product-card__icon-cart {
   display: flex;
   padding: 6px;
 }
 
 .product-card__icon-cart:hover {
   color: #2D3440;
 }

/* pagination */
.pagination__item {
  padding: 2px 8px;
}

.pagination__item-prev {
  padding: 0;
  margin-right: 11px;
}

.pagination__item-next {
  margin-left: 11px;
}

.pagination__item:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
  border-radius: 50px;
  padding: 2px 8px;
}

.pagination__item:nth-child(7) {
  margin-right: 0;
  margin-left: 8px;
}

.pagination__item-current {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FCFCFC;
  border-radius: 50px;
  padding: 2px 8px;
}

.pagination__button-show-more {
  width: 179px;
  height: 44px;
  background: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border: 0;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 0;
}

.pagination__button-show-more:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
  cursor: pointer;
}

.pagination__button-show-more:focus {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.pagination__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 41px 0px 41px 494px;
  margin-bottom: 40px;
}

.pagination__link {
  display: flex;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.pagination__link-prev {
  padding: 11px;
}

.pagination__link-next {
  padding: 11px;
}

.pagination {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}